<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div id="app">
<example></example>
</div>
</body>
<script type="text/javascript" src="../core/vue.js"></script>
<script type="text/javascript">
    Vue.component('example',{
        template:'<span v-on:click="updateMessage">{{ message }}</span>',
        data:function(){
            return {
                message: 'not updated'
            }
        },
        methods:{
            updateMessage:function(){
                this.message = 'updated';
                console.log(this.$el.textContent);
                this.$nextTick(function(){
                    console.log(this.$el.textContent);
                })
            }
        }
    })
    var vm = new Vue({
        el:"#app"
    })

</script>
</html>