<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div id='watch'>
    <p>
        Ask a yes/no question:
        <input v-model="question" />
    </p>
    <p>{{ answer }}</p>
</div>
</body>
<script type="text/javascript" src="../core/vue.js"></script>
<script type="text/javascript">
    var watchVm = new Vue({
        el: "#watch",
        data:{
            question:"",
            answer: 'I cannot give you an answer until you ask a question'
        },
        watch: {
            question: function(newQuestion){
                this.answer = 'Waiting for you to stop typing....'
                this.getAnswer();
            }
        },
        methods:{
            getAnswer: function(){
                this.answer = 'I am thinking'
            }
        }
    })
</script>
</html>